//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^drhongxu.github.io[nc]
RewriteRule ^(.*)$ http://www.drhongxu.github.io/$1 [r=301,nc]

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Change default directory page
DirectoryIndex en.html

//Prevent directory listings
Options All -Indexes
 
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]